<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Homepage.css">
    <link rel="shortcut icon" href="Image/Logo.png">

    <link rel="stylesheet" href="admin.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alice:regular"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    <title>My Account</title>
</head>
<body>
        <article class="taikhoan-layout">
            <aside class="left-menu">
                <div class="taikhoan"> 
                    <img src="Image/Image-customer.jpg" alt="">
                    <p>dotuankiet</p>
                </div>
                <hr>
                <p class="hienthi">Thông tin truy cập</p>
                <p>Dữ liệu</p>
                <p>Mail</p>
                <p>Biểu đồ</p>
                <p class="dangxuat">Đăng xuất</p>
            </aside>
            <section class="capnhat">
                <div class="capnhat-top">
                    <h2>Thông tin truy cập</h2>
                    <hr>
                </div>
                <div class="truycap">
                    <div class="visitor">
                        <i class="fas fa-eye"></i>
                        <div class="soluong">
                            <h3>Truy cập</h3>
                            <h2>5,200</h2>
                            <p>Lượt truy cập</p>
                        </div>
                    </div>
                    <div class="user"></div>
                    <div class="sales"></div>
                    <div class="orders"></div>
                </div>
            </section>
            <!-- <script>
                function taianh(){
                    // document.getElementsByClassName('capnhat-right')[0].children[0].src=document.getElementsByClassName('taianh')[0].value;

                    console.log(document.getElementsByClassName('taianh')[0].value);
                }
            </script> -->
        </article>

</body>
</html>